<template id="basicLayout">
  <div class="dark:bg-dark-bg bg-rd-bg dark:text-dark-text grid grid-rows-[auto_auto_1fr_auto] h-[100dvh]">
    <header kll-tc="header"></header>
    <div>
      <div kll-tc="returnButton"></div>
    </div>
    <main kll-ctrl="translate">
      <div class="h-full relative">
        <div class="inset-0 absolute overflow-y-auto">
          <slot></slot>
        </div>
      </div>
    </main>
    <footer kll-ctrl="updateInfo" class="text-xs flex gap-1 justify-end p-1 text-rd-urban_gray">
      <div class="flex gap-1">
        <span data-trans="version"></span>
        <span data-version></span>
      </div>
      -
      <div class="flex gap-1">
        <span data-trans="updated-at"></span>
        <span data-update></span>
      </div>
    </footer>
  </div>
</template>