<template id="category">
    <div class='flex gap-2 overflow-x-auto w-full scroll-smooth snap-start snap-mandatory xs:flex-wrap' data-menu
        hide-scrollbar>
        <div data-trans="{{title}}"
            class="uppercase text-xs  text-left w-full darktext-rd-sagwa_young text-rd-link font-bold mt-3">
        </div>
        <div class='flex gap-2 overflow-x-auto w-full scroll-smooth snap-start snap-mandatory xs:flex-wrap' data-menu
            hide-scrollbar>
            {{sections}}
        </div>
    </div>
</template>