<template id="headerMenuBabelFish">
    <div class='flex flex-col gap-2'>

        <div data-trans="babelfish" class="text-rd-sagwa_young uppercase">
        </div>
        <div class='pl-3 flex gap-2 flex-col' data-menu hide-scrollbar>
            <a href="/babelfish" kll-ctrl="link" data-trans="home">Home
            </a>
            <a href="/babelfish-docs" kll-ctrl="link" data-trans="documents">documents
            </a>
            <a href="/babelfish-words" kll-ctrl="link" data-trans="words">words
            </a>
            <a href="/babelfish-sync" kll-ctrl="link" data-trans="sync">sync</a>
        </div>
    </div>
</template>