<template id="header">
  <header class="flex justify-between items-center p-2">
    <div class="flex items-center gap-2">
      <div id="hamburger" class="flex cursor-pointer z-[100] flex-col gap-1 w-6" kll-ctrl="hamburger">
        <div class="h-1 bg-rd-sagwa_young dark:bg-dark-highlight"></div>
        <div class="h-1 bg-rd-sagwa_young dark:bg-dark-highlight"></div>
        <div class="h-1 bg-rd-sagwa_young dark:bg-dark-highlight"></div>
      </div>
      <a href="/" class="font-bold whitespace-nowrap lg:text-base text-sm"><span
          class="text-rd-sagwa_young darktext-dark-highlight  border-t border-rd-text dark:border-dark-text">KLL</span><span
          class="border-b border-rd-sagwa_young dark:border-rd-sagwa_young text-rd-text dark:text-dark-text">
          SPACE</span>
      </a>

    </div>

    <div class="flex gap-2 items-center">
      <a class="flex gap-1 items-center" href="https://ko-fi.com/kazerlelutin" target="_blank" rel="noreferrer">
        <div data-trans="kofi" class="text-xs"></div>
        <img src="/kofi_logo.svg" alt="Ko-fi" class="w-6 inline-block" width="24" height="15" />
      </a>
      <div kll-tc="rupteur"></div>
    </div>
  </header>
</template>