<template id="headerMenuBabelFish">
    <div class=' flex gap-2 overflow-x-auto w-full scroll-smooth snap-start snap-mandatory xs:flex-wrap py-1 px-4'
        data-menu hide-scrollbar>
        <div class='flex gap-3 overflow-x-auto w-full scroll-smooth snap-start snap-mandatory xs:flex-wrap text-sm'
            data-menu hide-scrollbar>
            <a href="/babelfish" kll-ctrl="link" data-trans="Babel fish"
                class="whitespace-nowrap  border border-rd-sagwa_young rounded-sm px-1">
            </a>
            <a href="/babelfish-docs" kll-ctrl="link" data-trans="documents">documents
            </a>
            <a href="/babelfish-words" kll-ctrl="link" data-trans="words">words
            </a>
            <a href="/babelfish-sync" kll-ctrl="link" data-trans="sync">sync</a>
        </div>
    </div>
</template>