<template id="importResult">
    <div class="flex flex-col gap-1">
        <div>
            <span class="bold">{{wordCreatedLabel}}</span>: <span
                class="text-rd-sagwa_young">{{wordCreatedCount}}</span>
        </div>
        <div>
            <span class="bold">{{wordUpdatedLabel}}</span>: <span class="text-rd-sagwa">{{wordUpdatedCount}}</span>
        </div>
        <div>
            <span class="bold">{{docCreatedLabel}}</span>: <span class="text-rd-sagwa_young">{{docCreatedCount}}</span>
        </div>
        <div>
            <span class="bold">{{docUpdatedLabel}}</span>: <span class="text-rd-sagwa">{{docUpdatedCount}}</span>
        </div>
    </div>
</template>