<template id="menu">
    <ul class="list-none flex flex-col gap-2 m-0 p-0">
        <li class="p-0">
            <a href="/" kll-ctrl="link" data-trans="home"></a>
        </li>
        <li class="p-0">
            <a href="/about" kll-ctrl="link" data-trans="about"></a>
        </li>
        <li class="p-0">
            <a href="/legal" kll-ctrl="link" data-trans="legalNotice"></a>
        </li>

        <li class="p-0">
            <a href="/sync" kll-ctrl="link" data-trans="sync"></a>
        </li>

        <li class="p-0">
            <a href="https://bouteiller.contact" target="_blank" rel="noopener noreferrer" data-trans="contact"
                data-external="true"></a>
        </li>
    </ul>
</template>