<template id="miniature">
    <a href="{{href}}" kll-ctrl="link"
        class="relative flex min-w-36 w-36 items-center gap-2 justify-center min-h-20 h-20 rounded-sm overflow-hidden bg-lime-800 dark:bg-rd-urban_gray">
        <div style="background: center/200% url({{cover}})" class="absolute inset-0 z-0" data-cover></div>
        <div href="{{href}}" data-trans="{{name}}"
            class="text-sm uppercase  absolute inset-0 flex items-center justify-center dark:bg-opacity-30 bg-opacity-40 dark:bg-black bg-white font-bold dark:text-rd-pur text-rd-text z-1">
            {{source.name}}
        </div>
    </a>
</template>