<template id="returnButton">
  <div class="flex gap-2 uppercase items-center w-full px-2" id="return_button">
    <a href="/#" kll-ctrl="link" class="w-4 fill-rd-sagwa_young text-sm" data-arrow>
      <svg width="20px" height="20px" viewBox="0 0 210 297" class="inline">
        <g id="path1" transform="translate(35.070111,39.088561)">
          <path id="path5" class="fill-current"
            d="M 69.467343,29.687012 -68.457271,109.41246 c 45.976504,26.57164 91.950003,53.14849 137.924614,79.72341 V 133.86583 H 208.31705 V 84.957743 H 69.467343 Z">
          </path>
          <g id="g2" transform="translate(10.594096,5.1143911)">
            <g id="path2" transform="translate(-22.649446,-26.667897)" />
          </g>
        </g>
      </svg>
    </a>
    <a href="/#" kll-ctrl="link" data-text class="text-xs dark:text-rd-sagwa_young"></a>
  </div>
</template>